# USB devices (usbfs replacement)
SUBSYSTEM=="usb",ATTR{idVendor}=="17ef" , ATTR{idProduct}=="562f", MODE="0666"
SUBSYSTEM=="usb_device",ATTR{idVendor}=="17ef" , ATTR{idProduct}=="562f", MODE="0666"

SUBSYSTEM=="usb",SYSFS{idVendor}=="17ef" , SYSFS{idProduct}=="562f", MODE="0666"
SUBSYSTEM=="usb_device",SYSFS{idVendor}=="17ef" , SYSFS{idProduct}=="562f", MODE="0666"


