
QWidget{font:13px; /*color:#4c4c4c*/}

QDialog  {    border:1px solid gray;}

.QFrame
,QListWidget
,QTabWidget::pane
{
border: 1px solid darkgray;
}

/*QPushButton{
    min-width:50px;
    min-height:27px;
}
QPushButton:!enabled{
        margin:2px;
        border-radius: 3px;
        border: none;
        background-color: gray;
}*/
