
/*QMainWindow{background-color: white;}*/

/*.QWidget {   background-color: white;}*/

/*QWidget{font:13px; color:#4c4c4c}*/

QDialog  {    border:1px solid gray;}

/*QComboBox QAbstractItemView{    background-color:white;  }*/

